# Frontend Environment Variables

# Backend API
NEXT_PUBLIC_API_URL=http://localhost:5000

# Blockchain
NEXT_PUBLIC_CHAIN_ID=31337
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545

# Contract Address (Update after deployment)
NEXT_PUBLIC_CONTRACT_ADDRESS=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
