services:
  - type: web
    name: relieffund-backend
    env: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 5001
      - key: NODE_ENV
        value: production
      - key: ALLOWED_ORIGINS
        sync: false
      - key: RPC_URL
        sync: false
      - key: CONTRACT_ADDRESS
        sync: false
      - key: PRIVATE_KEY
        sync: false
      - key: CHAIN_ID
        value: 31337
